
h1 {
    color: rgb(255, 255, 255);
  }

h2 {
  color: rgb(0, 0, 0);
}


  h4 {
    color: rgb(0, 0, 0);
  }

p {
    color: rgb(0, 0, 0);
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  div.a {
    font-size: 60px;
  }
  div.b {
    font-size: 40px;
  }
  
  
  table {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
  }
  
