{% extends 'base.html' %}
{% block content %}
<div class="container">
    <br><br>
    <br>

       
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <div class="a">
                        <h4 ></h4>
                        <b><p align="center"> Detials  </p></b>
                        <div class="b"> 
                            <ul>
                                
                              <li> <h2>Description : {{ data.description }}</h2></li>
                              <li><h2>Category : {{ data.category }}</h2></li>
                              <li><h2>Amount : {{ data.amount }}</h2></li>
                              <li><h2>Detials : {{ data.detials }}</h2></li>
                              <li><h2>Date : {{ data.date }}</h2></li>
                         
                            </ul>
                        </div>
                      
                    </div>
                </div>
              </div>
       
            
      
      
    

    
</div>

{% endblock %}

<!--
       
-->